name: Deploy Fitness RPG to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - 'fitness_rpg_app/**'
      - '.github/workflows/deploy_rpg.yml'
  workflow_dispatch: # Allows manual trigger from GitHub UI

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install Dependencies
        working-directory: ./fitness_rpg_app
        run: flutter pub get

      - name: Build Web Site
        working-directory: ./fitness_rpg_app
        run: flutter build web --release --base-href "/liuanfitnessRPG/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./fitness_rpg_app/build/web
